$media-breakpoint-mobile: 450px;

.Application-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .Application {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        svg {
            background: rgba(35, 35, 35, 0.6);
            position: absolute;
            color: white;
            cursor: pointer;
            transition: 0.2s;
            margin-left: 5px;
            margin-right: 5px;
            padding: 5px;
            width: 20px;
            height: 20px;
            border-radius: 6px;

            &:hover {
                color: rgb(215, 215, 215);
            }
            &:active {
                color: rgb(245, 245, 245);
            }
        }

        .Application-sidebar-container {
            height: 100%;
            width: 300px;
            overflow: hidden;
            user-select: none;
            transition: 0.4s;

            @media (max-width: $media-breakpoint-mobile) {
                position: absolute;
                width: 100%;
            }

            .Application-sidebar-title {
                background: rgba(35, 35, 35, 0.4);
                box-shadow: -5px 0px 2px 0px rgba(35, 35, 35, 0.75);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 40px;

                h1 {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: lighter;
                    font-size: 1.2rem;
                    color: white;
                }

                #add {
                    left: 0;
                }
                #arrow {
                    margin-left: 125px;
                }
            }

            .Application-sidebar {
                height: calc(100% - 50px);
            }

            .Application-sidebar-friendslist {
                overflow-y: auto;
                height: calc(100% - 30px);
                border-right: 1px rgba(255, 255, 255, 0.116) solid;
                padding-right: 5px;
                padding-left: 5px;

                .no-friends {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    h1 {
                        font-family: 'Quicksand', sans-serif;
                        font-weight: lighter;
                        font-size: 1.2rem;
                        color: white;
                    }
                }

                .friend {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: lighter;
                    font-size: 1.1rem;
                    display: flex;
                    padding-left: 5px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 50px;
                    box-shadow: 0px 0px 2px 0px rgba(35, 35, 35, 0.75);
                    cursor: pointer;
                    transition: 0.2s;
                    border-radius: 6px;

                    img {
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 100%;
                    }

                    p {
                        color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 4px;
                        padding-left: 5px;
                        word-break: keep-all;
                        overflow: hidden;
                    }

                    &:hover {
                        background: rgba(35, 35, 35, 0.6);
                    }
                    &:active {
                        background: rgba(35, 35, 35, 0.5);
                    }
                }
            }

            .Application-sidebar-actionbar {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;
                background: rgba(35, 35, 35, 0.4);
                box-shadow: -5px 0px 2px 0px rgba(35, 35, 35, 0.75);
                svg {
                    position: relative;
                }

                p {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: lighter;
                    font-size: 1rem;
                    color: rgb(157, 255, 0);
                    margin-left: 5px;
                    overflow-x: hidden;
                    width: calc(100% - 100px);
                }
            }
        }

        .Application-messaging-container {
            position: absolute;
            right: 0;
            width: calc(100% - 300px);
            height: calc(100% - 120px);
            user-select: none;
            transition: 0.4s;

            .Application-messaging-titlebar {
                background: rgba(35, 35, 35, 0.4);
                box-shadow: 5px 0px 2px 0px rgba(35, 35, 35, 0.75);
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 40px;

                h1 {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: lighter;
                    font-size: 1.2rem;
                    color: white;
                    width: 100%;
                }
            }

            .Application-messaging-messages {
                background: rgba(35, 35, 35, 0.4);
                box-shadow: 0px 0px 2px 0px rgba(35, 35, 35, 0.75);
                margin: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                height: 100%;
                overflow-y: auto;
                border-radius: 6px;

                .option {
                    position: relative;
                    background: none;
                    margin: 0;
                    padding: 0;
                    margin-right: 10px;
                }

                .no-messages {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    h1 {
                        font-family: 'Quicksand', sans-serif;
                        font-weight: lighter;
                        font-size: 1.2rem;
                        color: white;
                    }
                }

                .message {
                    word-wrap: break-word;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    display: flex;
                    font-family: 'Quicksand', sans-serif;
                    border-radius: 6px;
                    max-width: 100%;
                    width: fit-content;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    .message-avatar {
                        img {
                            padding: 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            border-radius: 50%;
                            height: 50px;
                        }
                    }

                    .message-content {
                        max-width: calc(100% - 60px);
                        .message-content-details {
                            display: flex;
                            #username {
                                font-size: large;
                                color: rgb(157, 255, 0);
                            }
                            #date {
                                font-size: smaller;
                                color: rgba(255, 255, 255, 0.667);
                                padding-top: 3px;
                                padding-right: 10px;
                            }
                        }

                        p {
                            padding-left: 10px;
                            height: 100%;
                            word-wrap: break-word;
                        }

                        #message {
                            color: rgba(255, 255, 255, 0.8);
                            padding-top: 5px;
                            font-weight: lighter;
                            font-size: 1rem;
                            user-select: text;
                            padding-right: 10px;
                            word-wrap: break-word;
                            max-width: calc(100% - 20px);
                            width: fit-content;
                        }
                    }
                }
            }

            .Application-messaging-input {
                width: calc(100% - 40px);
                margin-left: 10px;

                input {
                    background: rgba(35, 35, 35, 0.4);
                    border: none;
                    outline: none;
                    height: 30px;
                    width: 100%;
                    border-radius: 6px;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: white;
                }
            }
        }
    }

    .Popup-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
        backdrop-filter: blur(1.75px);
        -webkit-backdrop-filter: blur(1.75px);
        height: 100%;
        width: 100%;

        .Popup-basic {
            background: rgba(35, 35, 35, 0.8);
            box-shadow: 0px 0px 2px 0px rgba(100, 100, 100, 0.75);
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            width: 80%;
            max-width: 300px;
            min-width: 200px;
            border-radius: 6px;

            .Popup-basic-title {
                text-align: center;
                font-size: smaller;

                h1 {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: lighter;
                    font-size: 1.5rem;
                    color: white;
                }
            }

            .Popup-basic-content {
                p {
                    font-family: 'Quicksand', sans-serif;
                    text-align: center;
                    color: white;
                    font-size: 1.2rem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .Popup-basic-tabbar {
                background: rgb(25, 25, 25);
                margin-top: 5px;
                border-radius: 6px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #tab_selected {
                    background: rgba(40, 40, 40, 1);
                }

                .Popup-basic-tab {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: rgb(25, 25, 25);
                    width: 100%;
                    margin: 5px;
                    border-radius: 6px;
                    text-align: center;
                    color: white;
                    transition: 0.2s;
                    cursor: pointer;

                    svg {
                        width: 18px;
                    }

                    &:hover {
                        background: rgba(38, 38, 38, 1);
                        color: rgb(200, 200, 200);
                    }
                }
            }

            .Popup-basic-friendRequests {
                overflow-y: auto;
                max-height: 400px;
                margin-top: 10px;
                margin-bottom: 10px;

                .Popup-basic-friendRequests-request {
                    font-family: 'Quicksand', sans-serif;
                    font-weight: lighter;
                    font-size: 1.1rem;
                    display: flex;
                    margin-bottom: 10px;
                    margin-right: 5px;
                    height: 40px;
                    background: rgba(50, 50, 50, 1);
                    box-shadow: 0px 0px 2px 0px rgba(35, 35, 35, 0.75);
                    transition: 0.2s;
                    border-radius: 6px;
                    width: calc(100% - 5px);

                    img {
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 100%;
                    }

                    p {
                        color: white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 4px;
                        padding-left: 5px;
                        word-break: keep-all;
                        overflow: hidden;
                        width: 100%;
                    }

                    .Popup-basic-friendRequests-request-actions {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin-right: 5px;

                        #decline {
                            color: #dc6651;
                            transition: 0.2s;
                            cursor: pointer;
                            margin-right: 5px;
                            &:hover {
                                color: #c65b48;
                            }
                        }
                        #accept {
                            color: #63b84e;
                            transition: 0.2s;
                            cursor: pointer;
                            &:hover {
                                color: #58a345;
                            }
                        }
                    }
                }

                .Popup-basic-friendRequests-notfound {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 20px;
                    p {
                        color: white;
                        font-family: 'Quicksand', sans-serif;
                        font-weight: lighter;
                        font-size: 1.1rem;
                    }
                }
            }

            .Popup-basic-error {
                text-align: center;
                margin-top: 10px;
                padding: 5px;
                background-color: #dc6651;
                border-radius: 6px;

                p {
                    font-family: 'Quicksand', sans-serif;
                    font-size: small;
                    color: white;
                    text-align: center;
                }
            }

            .Popup-basic-actions {
                width: 100%;
                display: flex;
                margin-top: 10px;
                margin-bottom: 10px;

                #close {
                    width: 100%;
                    margin-right: 50px;
                    background-color: #ed7461;
                    color: white;
                    &:hover {
                        background-color: #df6c5b;
                    }
                }
                #send {
                    width: 100%;
                    margin-left: 50px;
                    background-color: #68c551;
                    color: white;
                    &:hover {
                        background-color: #63b84e;
                    }
                }
            }

            .Popup-basic-action-center {
                text-align: center;
                margin-bottom: 10px;
                #close {
                    background-color: #68c551;
                    color: white;
                }
            }

            .Popup-settings-content {
                margin-top: 10px;
                margin-bottom: 10px;

                .Settings-content-profile {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border: 1px rgba(255, 255, 255, 0.4) solid;
                    padding-left: 5px;
                    padding-right: 5px;
                    border-radius: 6px;

                    img {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 100%;
                        width: 50px;
                        margin-right: 10px;
                    }

                    i {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        svg {
                            margin-left: 10px;
                            padding: 5px;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            transition: 0.2s;
                            color: white;
                        }
                    }

                    .Settings-content-profile-image {
                        width: auto;
                        height: auto;
                        svg {
                            position: absolute;
                            margin-left: 35px;
                            width: 16px;
                            height: 16px;
                            padding: 3px;
                            border-radius: 50%;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }

                .username-error {
                    text-align: center;
                    margin-top: 10px;
                    padding: 5px;
                    background-color: #dc6651;
                    border-radius: 6px;
                    font-family: 'Quicksand', sans-serif;
                    font-size: medium;
                    color: white;
                    text-align: center;
                }

                .Settings-content-account {
                    margin-top: 10px;
                }
            }
        }
    }
}
